In [4]:
import scanpy as sc

In [5]:
import os
# import scanpy.api as sc
import pandas as pd

In [ ]:
### Day 11

In [2]:
# original data file with raw counts
raw_data_file = '/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/pool1_13_noddd_D11/pool1_13_noddd_D11.scanpy.h5'
# file with all the metadata and celltypes - note that I updated this to the "tidy" version that we originally uploaded
complete_data_file = '/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/analysis_results/20200907_data_freeze/scanpy_files/D11.h5'
dataset_outfile = '/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/for_Zenodo/day11.h5'

In [3]:
raw_data = sc.read(raw_data_file)
out_data = sc.read(complete_data_file)

In [4]:
# confirm that these have the same cells in the same order
assert(all(x==y for x,y in zip(raw_data.obs.index, out_data.obs.index)))

In [5]:
# save raw count data
out_data.raw = raw_data

In [17]:
out_data.raw.X[1:5, :].toarray().max()

835.0

In [18]:
out_data.X[1:5, :].toarray().max()

597.6499

In [6]:
# write to file
out_data.write(dataset_outfile)

In [19]:
### Day 30

In [20]:
# original data file with raw counts
raw_data_file = '/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/pool1_13_noddd_D30/pool1_13_noddd_D30.scanpy.h5'
# file with all the metadata and celltypes - note that I updated this to the "tidy" version that we originally uploaded
complete_data_file = '/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/analysis_results/20200907_data_freeze/scanpy_files/D30.h5'
dataset_outfile = '/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/for_Zenodo/day30.h5'

In [21]:
raw_data = sc.read(raw_data_file)
out_data = sc.read(complete_data_file)

In [22]:
# confirm that these have the same cells in the same order
assert(all(x==y for x,y in zip(raw_data.obs.index, out_data.obs.index)))

In [23]:
# save raw count data
out_data.raw = raw_data

In [24]:
out_data.raw.X[1:5, :].toarray().max()

865.0

In [25]:
out_data.X[1:5, :].toarray().max()

1101.6063

In [26]:
# write to file
out_data.write(dataset_outfile)

In [27]:
### Day 52

In [6]:
# original data file with raw counts
raw_data_file = '/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/pool1_17_D52/pool1_17_D52.scanpy.h5'
# file with all the metadata and celltypes - note that I updated this to the "tidy" version that we originally uploaded
complete_data_file = '/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/analysis_results/20200907_data_freeze/scanpy_files/D52.h5'
dataset_outfile = '/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/for_Zenodo/day52.h5'

In [7]:
raw_data = sc.read(raw_data_file)
out_data = sc.read(complete_data_file)

In [8]:
# confirm that these have the same cells in the same order
assert(all(x==y for x,y in zip(raw_data.obs.index, out_data.obs.index)))

In [9]:
# save raw count data
out_data.raw = raw_data

In [10]:
out_data.raw.X[1:5, :].toarray().max()

3072.0

In [11]:
out_data.X[1:5, :].toarray().max()

1477.9884

In [12]:
# write to file
out_data.write(dataset_outfile)

In [14]:
out_data.obs

,sample_index,sample_id,donor_id,cluster_id,celltype,time_point,pool_id,treatment
index,,,,,,,,
AAACCTGAGAAAGTGG-1-0,0,5245STDY7426804,HPSI0114i-eipl_1,2,Astro,D52,pool1,NONE
AAACCTGAGATCTGCT-1-0,0,5245STDY7426804,HPSI0114i-eipl_1,1,Epen1,D52,pool1,NONE
AAACCTGAGCTAGTGG-1-0,0,5245STDY7426804,HPSI0115i-paim_1,3,DA,D52,pool1,NONE
AAACCTGAGGAGCGTT-1-0,0,5245STDY7426804,HPSI0614i-liqa_1,7,Sert,D52,pool1,NONE
AAACCTGAGGTGCTTT-1-0,0,5245STDY7426804,HPSI0114i-eipl_1,2,Astro,D52,pool1,NONE
...,...,...,...,...,...,...,...,...
TTTGTCACAATAGCGG-1-78,78,5245STDY8354286,HPSI0115i-jotn_2,3,DA,D52,pool17,ROT
TTTGTCACAGGTGGAT-1-78,78,5245STDY8354286,HPSI1113i-qorq_1,0,Sert,D52,pool17,ROT
TTTGTCAGTCCAGTGC-1-78,78,5245STDY8354286,HPSI0114i-vass_1,3,DA,D52,pool17,ROT
TTTGTCAGTTTGTGTG-1-78,78,5245STDY8354286,HPSI0115i-tiku_3,0,Sert,D52,pool17,ROT
TTTGTCATCTTGAGAC-1-78,78,5245STDY8354286,HPSI0115i-tiku_3,3,DA,D52,pool17,ROT