In [10]:
mydir = "/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/pool1_13_noddd_D11/"
mysuffix = "pool1_13_noddd_D11.scanpy.w_metadata.scanpy.obs_df.groupedby.donor_id-pool_id-time_point.celltype_counts.tsv"

In [7]:
mydir = "/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/pool1_13_noddd_D30/"
mysuffix = "pool1_13_noddd_D30.scanpy.w_metadata.w_celltype.scanpy.obs_df.groupedby.donor_id-pool_id-time_point.celltype_counts.tsv"

In [4]:
mydir = "/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/pool1_17_D52/"
mysuffix = "pool1_17_D52.scanpy.w_metadata.w_celltype.scanpy.obs_df.groupedby.donor_id-pool_id-time_point.celltype_counts.tsv"

In [11]:
myfilename = paste0(mydir,mysuffix)
myfile = read.table(myfilename, header = T)
head(myfile)

  donor_id         pool_id time_point cluster_id n_cells
1 HPSI0114i-eipl_1 pool1   D11        0          1660
2 HPSI0114i-eipl_1 pool1   D11        1           906
3 HPSI0114i-eipl_1 pool1   D11        2           311
4 HPSI0114i-eipl_1 pool1   D11        3           228
5 HPSI0114i-eipl_1 pool1   D11        5            12
6 HPSI0114i-kolf_2 pool12  D11        0           332

In [12]:
donors_D11 = unique(myfile$donor_id)
length(donors_D11)

[1] 177

In [9]:
donors_D30 = unique(myfile$donor_id)
length(donors_D30)

[1] 175

In [6]:
donors_D52 = unique(myfile$donor_id)
length(donors_D52)

[1] 199

In [13]:
samples_D11 = matrix(donors_D11, nrow = length(donors_D11), ncol = 1)
samples_D30 = matrix(donors_D30, nrow = length(donors_D30), ncol = 1)
samples_D52 = matrix(donors_D52, nrow = length(donors_D52), ncol = 1)

In [34]:
write.table(samples_D11, "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/donors_D11.txt", quote = F, row.names = F,col.names = F)
write.table(samples_D30, "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/donors_D30.txt", quote = F, row.names = F,col.names = F)
write.table(samples_D52, "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/donors_D52.txt", quote = F, row.names = F,col.names = F)

In [24]:
typeof(donors_D11)

[1] "integer"

In [18]:
donors

[1] 1

In [31]:
samples_neuroseq = matrix(donors, nrow = length(donors), ncol = 1)

In [33]:
write.table(samples_neuroseq, "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/all_donors.txt", quote = F, row.names = F,col.names = F)

In [16]:
# library(dplyr)

In [24]:
df = myfile %>% group_by(donor_id,cluster_id) %>% summarise(ncells = sum(n_cells))
df = df[order(df$ncells),]
tail(df,2)

  donor_id         cluster_id ncells
1 HPSI0514i-fiaj_1 0          5661
2 HPSI0414i-mita_1 0          7690

In [29]:
df = myfile %>% group_by(donor_id,celltype) %>% summarise(ncells = sum(n_cells))
df = df[order(df$ncells),]
tail(df,2)

  donor_id         celltype ncells
1 HPSI0514i-fiaj_1 Astro    4087
2 HPSI0414i-mita_1 Astro    7486

In [15]:
df = myfile %>% group_by(donor_id,celltype) %>% summarise(ncells = sum(n_cells))
df = df[order(df$ncells),]
tail(df,2)

  donor_id         celltype ncells
1 HPSI1014i-quls_2 Astro     7971
2 HPSI0614i-uevq_6 Astro     9614
3 HPSI0414i-mita_1 Epen1    11893
4 HPSI0215i-zett_5 Sert     12088
5 HPSI0114i-eipl_1 Astro    13277
6 HPSI0514i-fiaj_1 Astro    14614