In [10]:
library(qvalue)
library(dplyr)
library(ggplot2)

In [2]:
Giordanos_selection = "/hps/nobackup/stegle/users/galvari/data/iPSCs/singleCell/metadata/ensembl_gene/Ensembl_75_Gene_CV_quant5.txt"
G_file = read.csv(Giordanos_selection, sep = "\t")
nrow(G_file)
head(G_file,2)

[1] 21592

  gene            mean      std       CV       quartile_cv
2 ENSG00000227232 3.1805905 3.6232403 1.139172 2
3 ENSG00000243485 0.2003178 0.8649483 4.317881 3

In [7]:
df_common_genes = read.csv("/hps/nobackup/stegle/users/acuomo/all_scripts/sc_eqtl/common_genes_across_all_aggregation_methods_and_bulk_except_median_Giordanos_selection.csv")
common_genes = as.character(df_common_genes$gene)
length(common_genes)

[1] 20335

In [1]:
bulk_matched_folder = "/hps/nobackup/hipsci/scratch/ComparingQtlMapping/Bulk/BulkDay0Healthy_PCA20_88_206/"

In [2]:
res = read.csv(paste0(bulk_matched_folder,"qtl_results_all.txt"), sep = "\t")
nrow(res)

[1] 16691457

In [3]:
bulk_folder = "/hps/nobackup/hipsci/scratch/ComparingQtlMapping/Bulk/BulkTotal_PCA20/"

In [4]:
res_all = read.csv(paste0(bulk_folder,"qtl_results_all.txt"), sep = "\t")
nrow(res_all)

[1] 18974762

In [11]:
leads = read.csv(paste0(bulk_matched_folder,"top_qtl_results_all.txt"), sep = "\t")
nrow(leads)

[1] 43103

In [25]:
df0 = leads
df0 <- df0[-which(duplicated(df0$feature_id)),]
length(unique(df0$feature_id))
# df1 = df0[df0$feature_id %in% G_file$gene,]
df1 = df0[df0$feature_id %in% common_genes,]
length(unique(df1$feature_id))
# df1$BH_fdr = p.adjust(df1$empirical_feature_p_value, method = 'BH')
# length(unique(df1[df1$BH_fdr < 0.05,'feature_id']))
df1$q_value = qvalue(df1$empirical_feature_p_value)$qvalues
length(unique(df1[df1$q_value < 0.05,'feature_id']))

[1] 42791

[1] 20335

[1] 3517

In [26]:
max_qval = max(df1[df1$q_value < 0.1,'q_value'])
max_qval
emp_pv_star_matched = max(df1[df1$q_value==max_qval,"empirical_feature_p_value"])
emp_pv_star_matched

[1] 0.09994721

[1] 0.04418403

In [27]:
df3 = df1[df1$q_value < 0.05,]
df5 = inner_join(df3, res_all, by = c("snp_id","feature_id"), suffix = c(".sc",".bulk"))
df5 <- df5[-which(duplicated(df5$feature_id)),]
nrow(df5)

nrow(df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all & 
         (df5$beta.sc*df5$beta.bulk)>0),])
nrow(df5[df5$empirical_feature_p_value.bulk < emp_pv_star_all,])

Warning message:
“Column `snp_id` joining factors with different levels, coercing to character vector”Warning message:
“Column `feature_id` joining factors with different levels, coercing to character vector”

[1] 3499

[1] 3307

[1] 3307

In [15]:
leads_all = read.csv(paste0(bulk_folder,"top_qtl_results_all.txt"), sep = "\t")
nrow(leads_all)

[1] 49916

In [16]:
df0 = leads_all
df0 <- df0[-which(duplicated(df0$feature_id)),]
length(unique(df0$feature_id))
# df1 = df0[df0$feature_id %in% G_file$gene,]
df1 = df0[df0$feature_id %in% common_genes,]
length(unique(df1$feature_id))
df1$q_value = qvalue(df1$empirical_feature_p_value)$qvalues
length(unique(df1[df1$q_value < 0.05,'feature_id']))

[1] 49554

[1] 20334

[1] 13959

In [17]:
max_qval = max(df1[df1$q_value < 0.1,'q_value'])
max_qval
emp_pv_star_all = max(df1[df1$q_value==max_qval, "empirical_feature_p_value"])
emp_pv_star_all

[1] 0.09999844

[1] 0.3428939

In [ ]:
##### Mean

In [28]:
mean_folder = "/hps/nobackup/hipsci/scratch/ComparingQtlMapping/SingleCell/PseudoBulk/mean/"

In [29]:
my_folder = paste0(mean_folder,"Run_Output_PCA20_88_log_TPM_scater_libsize_206/") # scran, 20PCs
# my_folder = paste0(mean_folder,"Run_Output_PCA20_88_log_TPM_scater_libsize_206_baynorm/") # baynorm, 20PCs

In [30]:
df0 = read.csv(paste0(my_folder,"top_qtl_results_all.txt"), sep = "\t")
df0 <- df0[-which(duplicated(df0$feature_id)),]

In [31]:
length(unique(df0$feature_id))
# df1 = df0[df0$feature_id %in% G_file$gene,]
df1 = df0[df0$feature_id %in% common_genes,]
length(unique(df1$feature_id))

df1$q_value = qvalue(df1$empirical_feature_p_value)$qvalues
length(unique(df1[df1$q_value < 0.05,'feature_id']))

df3 = df1[df1$q_value < 0.05,]
# nrow(df3)

[1] 50425

[1] 20335

[1] 2073

In [32]:
df4 = inner_join(df3, res, by = c("snp_id","feature_id"), suffix = c(".sc",".bulk"))
df4 <- df4[-which(duplicated(df4$feature_id)),]
nrow(df4)

nrow(df4[(df4$empirical_feature_p_value.bulk < emp_pv_star_matched & 
         (df4$beta.sc*df4$beta.bulk)>0),])
nrow(df4[(df4$empirical_feature_p_value.bulk < emp_pv_star_matched),])

Warning message:
“Column `snp_id` joining factors with different levels, coercing to character vector”Warning message:
“Column `feature_id` joining factors with different levels, coercing to character vector”

[1] 2073

[1] 1014

[1] 1030

In [33]:
df5 = inner_join(df3, res_all, by = c("snp_id","feature_id"), suffix = c(".sc",".bulk"))
df5 <- df5[-which(duplicated(df5$feature_id)),]
nrow(df5)

nrow(df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all & 
         (df5$beta.sc*df5$beta.bulk)>0),])
nrow(df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all),])

Warning message:
“Column `snp_id` joining factors with different levels, coercing to character vector”Warning message:
“Column `feature_id` joining factors with different levels, coercing to character vector”

[1] 2067

[1] 1523

[1] 1627

In [26]:
dr_mean = df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all & 
         (df5$beta.sc*df5$beta.bulk)>0),"feature_id"]

In [34]:
##### Total Mean

In [35]:
total_mean_folder = "/hps/nobackup/hipsci/scratch/ComparingQtlMapping/SingleCell/PseudoBulk/totmean/"

In [36]:
my_folder = paste0(total_mean_folder,"Run_Output_PCA20_88_log_TPM_scater_libsize_206/") # scran, 20PCs

In [37]:
df0 = read.csv(paste0(my_folder,"top_qtl_results_all.txt"), sep = "\t")
df0 <- df0[-which(duplicated(df0$feature_id)),]

In [38]:
length(unique(df0$feature_id))
# df1 = df0[df0$feature_id %in% G_file$gene,]
df1 = df0[df0$feature_id %in% common_genes,]
length(unique(df1$feature_id))
df1$q_value = qvalue(df1$empirical_feature_p_value)$qvalues
length(unique(df1[df1$q_value < 0.05,'feature_id']))

df3 = df1[df1$q_value < 0.05,]
# nrow(df3)

[1] 50429

[1] 20335

[1] 1415

In [39]:
df4 = inner_join(df3, res, by = c("snp_id","feature_id"), suffix = c(".sc",".bulk"))
df4 <- df4[-which(duplicated(df4$feature_id)),]
nrow(df4)

nrow(df4[(df4$empirical_feature_p_value.bulk < emp_pv_star_matched & 
         (df4$beta.sc*df4$beta.bulk)>0),])
nrow(df4[(df4$empirical_feature_p_value.bulk < emp_pv_star_matched),])

Warning message:
“Column `snp_id` joining factors with different levels, coercing to character vector”Warning message:
“Column `feature_id` joining factors with different levels, coercing to character vector”

[1] 1415

[1] 854

[1] 870

In [40]:
df5 = inner_join(df3, res_all, by = c("snp_id","feature_id"), suffix = c(".sc",".bulk"))
df5 <- df5[-which(duplicated(df5$feature_id)),]
nrow(df5)

nrow(df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all & 
         (df5$beta.sc*df5$beta.bulk)>0),])
nrow(df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all),])

Warning message:
“Column `snp_id` joining factors with different levels, coercing to character vector”Warning message:
“Column `feature_id` joining factors with different levels, coercing to character vector”

[1] 1411

[1] 1123

[1] 1202

In [34]:
d_mean = df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all & 
         (df5$beta.sc*df5$beta.bulk)>0),"feature_id"]

In [48]:
d_median = df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all & 
         (df5$beta.sc*df5$beta.bulk)>0),"feature_id"]

In [49]:
##### Sum

In [41]:
sum_folder = "/hps/nobackup/hipsci/scratch/ComparingQtlMapping/SingleCell/PseudoBulk/sum/"

In [42]:
my_folder = paste0(sum_folder,"Run_Output_PCA20_88_log_TPM_edgeR_libsize_206/") # edgeR, 20PCs

In [43]:
df0 = read.csv(paste0(my_folder,"top_qtl_results_all.txt"), sep = "\t")
df0 <- df0[-which(duplicated(df0$feature_id)),]

In [44]:
length(unique(df0$feature_id))
# df1 = df0[df0$feature_id %in% G_file$gene,]
df1 = df0[df0$feature_id %in% common_genes,]
length(unique(df1$feature_id))
df1$q_value = qvalue(df1$empirical_feature_p_value)$qvalues
length(unique(df1[df1$q_value < 0.05,'feature_id']))

df3 = df1[df1$q_value < 0.05,]
nrow(df3)

[1] 50427

[1] 20335

[1] 1590

[1] 1590

In [45]:
df4 = inner_join(df3, res, by = c("snp_id","feature_id"), suffix = c(".sc",".bulk"))
df4 <- df4[-which(duplicated(df4$feature_id)),]
nrow(df4)

nrow(df4[(df4$empirical_feature_p_value.bulk < emp_pv_star_matched & 
         (df4$beta.sc*df4$beta.bulk)>0),])
nrow(df4[(df4$empirical_feature_p_value.bulk < emp_pv_star_matched),])

Warning message:
“Column `snp_id` joining factors with different levels, coercing to character vector”Warning message:
“Column `feature_id` joining factors with different levels, coercing to character vector”

[1] 1582

[1] 909

[1] 925

In [46]:
df5 = inner_join(df3, res_all, by = c("snp_id","feature_id"), suffix = c(".sc",".bulk"))
df5 <- df5[-which(duplicated(df5$feature_id)),]
nrow(df5)

nrow(df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all & 
         (df5$beta.sc*df5$beta.bulk)>0),])
nrow(df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all),])

Warning message:
“Column `snp_id` joining factors with different levels, coercing to character vector”Warning message:
“Column `feature_id` joining factors with different levels, coercing to character vector”

[1] 1577

[1] 1247

[1] 1328

In [47]:
dr_sum = df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all & 
         (df5$beta.sc*df5$beta.bulk)>0),"feature_id"]

In [57]:
##### Total Sum

In [48]:
total_sum_folder = "/hps/nobackup/hipsci/scratch/ComparingQtlMapping/SingleCell/PseudoBulk/totsum/"

In [49]:
my_folder = paste0(total_sum_folder,"Run_Output_PCA20_88_log_TPM_edgeR_libsize_206/") # edgeR, 20PCs

In [50]:
# df = read.csv(paste0(my_folder,"qtl_results_all.txt"), sep = "\t")
# df <- df[order(df$empirical_feature_p_value, df$p_value ),]
# df0 <- df[-which(duplicated(df$feature_id)),]
# # nrow(df0)
# length(unique(df0$feature_id))

In [51]:
# write.table(df0, "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_eqtl/top_qtl_results_totsum.txt")

In [52]:
df0 = read.csv("/hps/nobackup/stegle/users/acuomo/all_scripts/sc_eqtl/top_qtl_results_totsum.txt", sep = ' ')
head(df0,2)

        feature_id      snp_id          p_value      beta      beta_se
1955841 ENSG00000203875 6_86387888_G_T  1.514293e-27  1.010238 0.09289432
6927785 ENSG00000204650 17_43679121_G_A 9.296484e-23 -1.201981 0.12240973
        empirical_feature_p_value feature_chromosome feature_start feature_end
1955841 6.375394e-24               6                 86370710      86388451
6927785 2.026242e-20              17                 43697694      43725582
        n_samples n_e_samples alpha_param beta_param snp_chromosome
1955841 87        87          0.7886659   17.12808    6
6927785 87        87          0.7567724   29.08926   17
        snp_position assessed_allele call_rate maf       hwe_p
1955841 86387888     T               1         0.4655172 0.6673797
6927785 43679121     A               1         0.2701149 0.1020851

In [53]:
length(unique(df0$feature_id))
# df1 = df0[df0$feature_id %in% G_file$gene,]
df1 = df0[df0$feature_id %in% common_genes,]
length(unique(df1$feature_id))
df1$q_value = qvalue(df1$empirical_feature_p_value)$qvalues
length(unique(df1[df1$q_value < 0.05,'feature_id']))

df3 = df1[df1$q_value < 0.05,]
nrow(df3)

df4 = inner_join(df3, res, by = c("snp_id","feature_id"), suffix = c(".sc",".bulk"))
df4 <- df4[-which(duplicated(df4$feature_id)),]
nrow(df4)

nrow(df4[(df4$empirical_feature_p_value.bulk < emp_pv_star_matched & 
         (df4$beta.sc*df4$beta.bulk)>0),])
nrow(df4[(df4$empirical_feature_p_value.bulk < emp_pv_star_matched),])

df5 = inner_join(df3, res_all, by = c("snp_id","feature_id"), suffix = c(".sc",".bulk"))
df5 <- df5[-which(duplicated(df5$feature_id)),]
nrow(df5)

nrow(df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all & 
         (df5$beta.sc*df5$beta.bulk)>0),])
nrow(df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all),])

[1] 50429

[1] 20335

[1] 1284

[1] 1284

Warning message:
“Column `snp_id` joining factors with different levels, coercing to character vector”Warning message:
“Column `feature_id` joining factors with different levels, coercing to character vector”

[1] 1284

[1] 778

[1] 793

Warning message:
“Column `snp_id` joining factors with different levels, coercing to character vector”Warning message:
“Column `feature_id` joining factors with different levels, coercing to character vector”

[1] 1279

[1] 1020

[1] 1092

In [54]:
d_sum = df5[(df5$empirical_feature_p_value.bulk < emp_pv_star_all & 
         (df5$beta.sc*df5$beta.bulk)>0),"feature_id"]