In [1]:
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [67]:
filename = "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/scanpy/neuroseq_metadata_D11.txt"
df = read.csv(filename, sep = "\t")
head(df)

  index                 batch donor_id         log1p_n_genes_by_counts
1 TCCACACAGGACAGAA-1-23 23    HPSI0114i-eipl_1 7.650169
2 TAAGAGAGTGGCGAAT-1-6   6    HPSI0115i-jakt_1 7.813592
3 TGACTAGCAGGAATGC-1-14 14    HPSI0314i-sojd_3 8.051341
4 TGCTGCTAGCAGATCG-1-36 36    HPSI0115i-iuad_2 7.742836
5 TTCGAAGAGACCGGAT-1-0   0    HPSI0114i-eipl_1 7.594884
6 ACGAGCCCAGCGTCCA-1-30 30    HPSI1014i-qayj_4 7.962764
  log1p_total_counts log1p_total_counts_mito n_genes_by_counts
1 8.834774           3.637586                2100
2 8.701845           5.786897                2473
3 9.357207           5.560682                3137
4 9.016392           4.007333                2304
5 8.261269           4.584968                1987
6 9.372799           5.323010                2871
  pct_counts_in_top_100_genes pct_counts_in_top_200_genes
1 46.70938                    58.09552
2 39.66406                    48.36188
3 46.63673                    55.30610
4 48.03303                    58.23215
5 31.44703                    42.32558
6 46.34022                    56.87325
  pct_counts_in_top_500_genes ... total_counts total_counts_mito cluster_id
1 72.58299                    ...  6868         37               4
2 62.33161                    ...  6013        325               7
3 68.23245                    ... 11581        259               1
4 72.53521                    ...  8236         54               1
5 59.56072                    ...  3870         97               2
6 70.84927                    ... 11763        204               0
  time_point pool_id treatment n_counts_all celltype celltype_new
1 D52        pool1   ROT        6868        FPP      FPP
2 D52        pool2   NONE       6013        Sert     Sert
3 D52        pool4   NONE      11581        Epen1    Epen1
4 D52        pool7   ROT        8236        Epen1    Epen1
5 D52        pool1   NONE       3870        Astro    Astro
6 D52        pool5   ROT       11763        Sert     Sert
  cluster_id_new
1 4
2 7
3 1
4 1
5 2
6 0

In [68]:
nrow(df)

[1] 523094

In [4]:
length(unique(df$donor_id))

[1] 177

In [5]:
length(unique(df[df$celltype == "FPP",]$donor_id))

[1] 177

In [6]:
df_donor = df[df$celltype == "FPP",] %>% group_by(donor_id) %>% summarise(n = n())

In [7]:
nrow(df_donor)
head(df_donor)

[1] 177

  donor_id         n
1 HPSI0114i-eipl_1 1672
2 HPSI0114i-kolf_2  334
3 HPSI0114i-wegi_1 2629
4 HPSI0115i-aion_2  406
5 HPSI0115i-aoxv_1 1851
6 HPSI0115i-bimq_4  338

In [8]:
N = 5
nrow(df_donor[df_donor$n >= N,])

[1] 174

In [12]:
df_donor_run = df[df$celltype == "FPP",] %>% group_by(donor_id, pool_id) %>% summarise(n = n())

In [13]:
head(df_donor_run)

  donor_id         pool_id n
1 HPSI0114i-eipl_1 pool1   1672
2 HPSI0114i-kolf_2 pool12   334
3 HPSI0114i-wegi_1 pool6   2478
4 HPSI0114i-wegi_1 pool7    151
5 HPSI0115i-aion_2 pool4    406
6 HPSI0115i-aoxv_1 pool8   1851

In [22]:
sum(rowSums(table(df_donor_run$donor_id, df_donor_run$pool_id)>0)>1)

[1] 25

In [23]:
25/174

[1] 0.1436782

In [10]:
mydir = "/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/pool1_13_noddd_D11/"

In [38]:
filename = paste0(mydir, "pool1_13_noddd_D11.scanpy.w_metadata.w_celltype.scanpy.obs_df.tsv")
df = read.csv(filename, sep = "\t")
df = df[df$celltype == "FPP",]
nrow(df)
head(df,2)

[1] 136074

  index                batch donor_id         sample_id       cluster_id
4 AAACCTGAGGAATGGA-1-0 0     HPSI0114i-eipl_1 5245STDY7352549 0
6 AAACCTGGTAGGCATG-1-0 0     HPSI0114i-eipl_1 5245STDY7352549 0
  time_point pool_id treatment n_counts_all celltype
4 D11        pool1   NONE      14383        FPP
6 D11        pool1   NONE      11709        FPP

In [60]:
df2= df %>% group_by(donor_id) %>% summarise(total_reads = sum(n_counts_all))
head(df2,2)

  donor_id         total_reads
1 HPSI0114i-eipl_1 20661540
2 HPSI0114i-kolf_2  3162958

In [61]:
nrow(df2)

[1] 177

In [62]:
donors_keep = as.character(df_donor[df_donor$n >= N,"donor_id"]$donor_id)
head(donors_keep)

[1] "HPSI0114i-eipl_1" "HPSI0114i-kolf_2" "HPSI0114i-wegi_1" "HPSI0115i-aion_2"
[5] "HPSI0115i-aoxv_1" "HPSI0115i-bimq_4"

In [63]:
df2$donor_id = as.character(df2$donor_id)

In [64]:
df2 = df2[df2$donor_id %in% donors_keep,]

In [65]:
min(df2$total_reads)
mean(df2$total_reads)
max(df2$total_reads)

[1] 17182

[1] 9716676

[1] 114528348