In [2]:
install.packages("formattable")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [3]:
library(formattable)

In [4]:
df = data.frame(egenes = c(10,12,11), replicated = c(8,9,9))
rownames(df) = c("mean","median","sum")
df

       egenes replicated
mean   10     8
median 12     9
sum    11     9

In [8]:
formattable(df, list(
    egenes = color_tile("white","firebrick"),
    replicated = color_tile("blue","green")))

       egenes replicated
mean   10     8
median 12     9
sum    11     9

In [9]:
df <- data.frame(
  id = 1:10,
  name = c("Bob", "Ashley", "James", "David", "Jenny", 
    "Hans", "Leo", "John", "Emily", "Lee"), 
  age = c(28, 27, 30, 28, 29, 29, 27, 27, 31, 30),
  grade = c("C", "A", "A", "C", "B", "B", "B", "A", "C", "C"),
  test1_score = c(8.9, 9.5, 9.6, 8.9, 9.1, 9.3, 9.3, 9.9, 8.5, 8.6),
  test2_score = c(9.1, 9.1, 9.2, 9.1, 8.9, 8.5, 9.2, 9.3, 9.1, 8.8),
  final_score = c(9, 9.3, 9.4, 9, 9, 8.9, 9.25, 9.6, 8.8, 8.7),
  registered = c(TRUE, FALSE, TRUE, FALSE, TRUE, TRUE, TRUE, FALSE, FALSE, FALSE),
  stringsAsFactors = FALSE)

In [10]:
formattable(df, list(
  age = color_tile("white", "orange"),
  grade = formatter("span", style = x ~ ifelse(x == "A", 
    style(color = "green", font.weight = "bold"), NA)),
  area(col = c(test1_score, test2_score)) ~ normalize_bar("pink", 0.2),
  final_score = formatter("span",
    style = x ~ style(color = ifelse(rank(-x) <= 3, "green", "gray")),
    x ~ sprintf("%.2f (rank: %02d)", x, rank(-x))),
  registered = formatter("span",
    style = x ~ style(color = ifelse(x, "green", "red")),
    x ~ icontext(ifelse(x, "ok", "remove"), ifelse(x, "Yes", "No")))
))

   id name   age grade test1_score test2_score final_score registered
1   1 Bob    28  C     8.9         9.1         9.00         TRUE
2   2 Ashley 27  A     9.5         9.1         9.30        FALSE
3   3 James  30  A     9.6         9.2         9.40         TRUE
4   4 David  28  C     8.9         9.1         9.00        FALSE
5   5 Jenny  29  B     9.1         8.9         9.00         TRUE
6   6 Hans   29  B     9.3         8.5         8.90         TRUE
7   7 Leo    27  B     9.3         9.2         9.25         TRUE
8   8 John   27  A     9.9         9.3         9.60        FALSE
9   9 Emily  31  C     8.5         9.1         8.80        FALSE
10 10 Lee    30  C     8.6         8.8         8.70        FALSE