In [1]:
import scanpy as sc

/nfs/software/stegle/users/acuomo/conda-envs/myscanpy/lib/python3.7/site-packages/anndata/_core/anndata.py:21: FutureWarning: pandas.core.index is deprecated and will be removed in a future version.  The public classes are available in the top-level namespace.
  from pandas.core.index import RangeIndex

In [2]:
filename = "/hps/nobackup/stegle/users/acuomo/all_scripts/covid/full_counts_Kropski_Meyer_Misharin_Nawijn.h5ad"

In [3]:
adatafull = sc.read(filename)

In [4]:
adatafull

AnnData object with n_obs × n_vars = 141243 × 45065
    obs: 'age', 'donor', 'sex', 'dataset', 'sample', 'total_counts', 'ann_level_1', 'ann_level_2', 'ann_level_3', 'ann_level_4', 'ann_level_5', 'smoking', 'anatomical_region', 'last_author/PI', 'sample_last_author_name', 'lung_vs_nasal'

In [5]:
adatafull.obs.head(3)

,age,donor,sex,dataset,sample,total_counts,ann_level_1,ann_level_2,ann_level_3,ann_level_4,ann_level_5,smoking,anatomical_region,last_author/PI,sample_last_author_name,lung_vs_nasal
TCTATTGCACGGTTTA-1-HCATisStab7659969_368C_Madissoon,57.5,368C,male,Sanger_Meyer_2019Madissoon,368C,3256,Immune,Lymphoid,B cell lineage,B cells,4_B cells,active,parenchyma,Meyer_a,Meyer_a_04,lung
CATATGGTCGTCTGAA-1-HCATisStab7646034_367C_Madissoon,67.5,367C,male,Sanger_Meyer_2019Madissoon,367C,3580,Immune,Lymphoid,T cell lineage,CD4 T cells,4_CD4 T cells,former,parenchyma,Meyer_a,Meyer_a_03,lung
AGTAGTCCAGCTGCAC_Donor_05_Reyfman,49.0,Donor_05,female,Northwestern_Misharin_2018Reyfman,Donor_05,20901,Epithelial,Alveolar epithelium,AT2,AT2,4_AT2,active,parenchyma,Misharin_Budinger,Misharin_Budinger_05,lung

In [6]:
adatafull.var.head()

Empty DataFrame
Columns: []
Index: [RP11-34P13.3, FAM138A, OR4F5, RP11-34P13.7, RP11-34P13.8]

In [7]:
adata = adatafull

In [8]:
adata.obs.age = adata.obs.age.astype(float)

In [9]:
adata.obs.dtypes

age                         float64
donor                      category
sex                        category
dataset                    category
sample                     category
total_counts                  int64
ann_level_1                category
ann_level_2                category
ann_level_3                category
ann_level_4                category
ann_level_5                category
smoking                    category
anatomical_region          category
last_author/PI             category
sample_last_author_name    category
lung_vs_nasal              category
dtype: object

In [10]:
adata.obs.dataset.value_counts()

Sanger_Meyer_2019Madissoon             56711
Northwestern_Misharin_2018Reyfman      41778
Vanderbilt_Kropski_bioRxivHabermann    31644
Groningen_Nawijn_2019VieiraBraga       11110
Name: dataset, dtype: int64

In [11]:
adata.X[:10,:10].A

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 2.]], dtype=float32)