In [8]:
metadata_df = read.csv('/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/metadata/All_samples_list_CGaP_170628_overview_processed.txt',sep='\t')
head(metadata_df)

  Public.name      Donor Gender Age   feederfree
1 HPSI0813er-fpdk  fpdk  male   40-44
2 HPSI0813i-fpdk_1 fpdk  male   40-44 n
3 HPSI0813i-fpdk_2 fpdk  male   40-44 n
4 HPSI0813i-fpdk_3 fpdk  male   40-44 n
5 HPSI0813er-fpdr  fpdr  male   45-49
6 HPSI0813i-fpdr_1 fpdr  male   45-49 n

In [17]:
# Day 11
mydir = "/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/pool1_13_noddd_D11/"
mysuffix = "pool1_13_noddd_D11.scanpy.w_metadata.w_celltype.scanpy.obs_df.groupedby.donor_id-pool_id-time_point.celltype_counts.tsv"
myfilename = paste0(mydir,mysuffix)
myfile = read.table(myfilename, header = T)
donors_d11 = as.character(unique(myfile$donor_id))
length(donors_d11)

[1] 177

In [18]:
# Day 30
mydir = "/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/pool1_13_noddd_D30/"
mysuffix = "pool1_13_noddd_D30.scanpy.w_metadata.w_celltype.scanpy.obs_df.groupedby.donor_id-pool_id-time_point.celltype_counts.tsv"
myfilename = paste0(mydir,mysuffix)
myfile = read.table(myfilename, header = T)
donors_d30 = as.character(unique(myfile$donor_id))
length(donors_d30)

[1] 175

In [19]:
# Day 52
mydir = "/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/pool1_17_D52/"
mysuffix = "pool1_17_D52.scanpy.w_metadata.w_celltype.scanpy.obs_df.groupedby.donor_id-pool_id-time_point-treatment.celltype_counts.tsv"
myfilename = paste0(mydir,mysuffix)
myfile = read.table(myfilename, header = T)
donors_d52 = as.character(unique(myfile$donor_id))
length(donors_d52)

[1] 199

In [20]:
all_donors = unique(c(donors_d11, donors_d30, donors_d52))
length(all_donors)

[1] 215

In [22]:
head(all_donors)

[1] "HPSI0114i-eipl_1" "HPSI0114i-kolf_2" "HPSI0114i-wegi_1" "HPSI0115i-aion_2"
[5] "HPSI0115i-aoxv_1" "HPSI0115i-bimq_4"

In [56]:
metadata_new = metadata_df[metadata_df$Public.name %in% all_donors,]
metadata_new$Donor <- c()
colnames(metadata_new)[1] = "donor_id"
head(metadata_new,2)

   donor_id          Gender Age   feederfree
38 HPSI0813i-ffdc_1  male   40-44 n
99 HPSI0213i-nawk_55 male         y

In [57]:
nrow(metadata_new)

[1] 211

In [58]:
all_donors[!(all_donors %in% metadata_new$donor_id)]

[1] "HPSI0115i-pitg_2" "HPSI0115i-qecv_2" "HPSI0314i-uict_1" "HPSI0514i-sohd_2"

In [59]:
# added manually from looking at the hipsci resource
df = data.frame(donor_id = all_donors[!(all_donors %in% metadata_new$donor_id)],
               Gender = "female",
               Age = c("50-54","35-39","65-69","70-74"),
               feederfree = "y")
head(df)

  donor_id         Gender Age   feederfree
1 HPSI0115i-pitg_2 female 50-54 y
2 HPSI0115i-qecv_2 female 35-39 y
3 HPSI0314i-uict_1 female 65-69 y
4 HPSI0514i-sohd_2 female 70-74 y

In [60]:
metadata_new = rbind(metadata_new, df)
nrow(metadata_new)

[1] 215

In [61]:
metadata_new[metadata_new$Gender == '',]

     donor_id         Gender Age feederfree
1543 HPSI0813i-mioj_1            y
1546 HPSI0613i-oesx_3            y

In [62]:
metadata_new[metadata_new$Gender == '',"Gender"] = 'female' # added manually, oesx and mioj
metadata_new[metadata_new$Gender == '',"Gender"]

factor(0)
Levels:  female male

In [71]:
metadata_new$Gender = as.character(metadata_new$Gender)
metadata_new$feederfree = as.character(metadata_new$feederfree)

In [70]:
metadata_new$min_age = as.numeric(gsub("-.*","",metadata_new$Age))
metadata_new$max_age = as.numeric(gsub(".*-","",metadata_new$Age))
metadata_new$avg_age = 0.5*(metadata_new$min_age+metadata_new$max_age)
head(metadata_new,2)

   donor_id          Gender Age   feederfree min_age max_age avg_age
38 HPSI0813i-ffdc_1  male   40-44 n          40      44      42
99 HPSI0213i-nawk_55 male         y          NA      NA      NA

In [72]:
write.csv(metadata_new, "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/metadata_all_lines.csv")