In [1]:
mydir = "/nfs/leia/research/stegle/dseaton/hipsci/singlecell_neuroseq/data/data_processed/"

In [11]:
D52_filename = paste0(mydir,"pool1_17_D52/pool1_17_D52.celltype_mapping.tsv")
D52 = read.csv(D52_filename, sep = "\t")
D52

   cluster_id celltype
1   0         Sert
2   1         Epen1
3   2         Astro
4   3         DA
5   4         FPP
6   5         CHem
7   6         P_FPP
8   7         Sert
9   8         unknown
10  9         Epen2
11 10         P_Sert
12 11         unknown
13 12         unknown

In [10]:
D30_filename = paste0(mydir,"pool1_13_noddd_D30/pool1_13_noddd_D30.celltype_mapping.tsv")
D30 = read.csv(D30_filename, sep = "\t")
D30

  cluster_id celltype
1 0          DA
2 1          Astro
3 2          Sert
4 3          Epen1
5 4          CHem
6 5          P_FPP
7 6          unknown

In [9]:
D11_filename = paste0(mydir,"pool1_13_noddd_D11/pool1_13_noddd_D11.celltype_mapping.tsv")
D11 = read.csv(D11_filename, sep = "\t")
D11

  cluster_id celltype
1 0          FPP
2 1          P_FPP
3 2          P_FPP
4 3          NB
5 4          P_FPP
6 5          FPP

In [24]:
D11['time_point'] = 'D11'
D11

  cluster_id celltype time_point
1 0          FPP      D11
2 1          P_FPP    D11
3 2          P_FPP    D11
4 3          NB       D11
5 4          P_FPP    D11
6 5          FPP      D11

In [25]:
D30['time_point'] = 'D30'
D30

  cluster_id celltype time_point
1 0          DA       D30
2 1          Astro    D30
3 2          Sert     D30
4 3          Epen1    D30
5 4          CHem     D30
6 5          P_FPP    D30
7 6          unknown  D30

In [26]:
D52['time_point'] = 'D52'
D52

   cluster_id celltype time_point
1   0         Sert     D52
2   1         Epen1    D52
3   2         Astro    D52
4   3         DA       D52
5   4         FPP      D52
6   5         CHem     D52
7   6         P_FPP    D52
8   7         Sert     D52
9   8         unknown  D52
10  9         Epen2    D52
11 10         P_Sert   D52
12 11         unknown  D52
13 12         unknown  D52

In [31]:
df = rbind(D11,D30,D52)
# df

In [35]:
df$celltype = as.character(df$celltype)
df$new_celltype = df$celltype

In [38]:
df$new_celltype[df$celltype == 'CHem'] = 'U_Neur1'
df$new_celltype[df$celltype == 'Astro' & df$time_point == 'D30'] = 'FPP'
df$new_celltype[df$celltype == 'unknown' & df$time_point == 'D30'] = 'U_Neur2'
df$new_celltype[df$celltype == 'unknown' & df$time_point == 'D52'] = 'U_Neur3'
df

   cluster_id celltype time_point new_celltype
1   0         FPP      D11        FPP
2   1         P_FPP    D11        P_FPP
3   2         P_FPP    D11        P_FPP
4   3         NB       D11        NB
5   4         P_FPP    D11        P_FPP
6   5         FPP      D11        FPP
7   0         DA       D30        DA
8   1         Astro    D30        FPP
9   2         Sert     D30        Sert
10  3         Epen1    D30        Epen1
11  4         CHem     D30        U_Neur1
12  5         P_FPP    D30        P_FPP
13  6         unknown  D30        U_Neur2
14  0         Sert     D52        Sert
15  1         Epen1    D52        Epen1
16  2         Astro    D52        Astro
17  3         DA       D52        DA
18  4         FPP      D52        FPP
19  5         CHem     D52        U_Neur1
20  6         P_FPP    D52        P_FPP
21  7         Sert     D52        Sert
22  8         unknown  D52        U_Neur3
23  9         Epen2    D52        Epen2
24 10         P_Sert   D52        P_Sert
25 11         unknown  D52        U_Neur3
26 12         unknown  D52        U_Neur3

In [42]:
write.csv(df,"/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/map_cluster_to_celltypes.csv", quote = F, row.names = F)