In [ ]:
#### Day 11

In [15]:
D11_file = "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/scanpy/neuroseq_metadata_D11.txt"

In [16]:
D11 = read.csv(D11_file, sep ="\t")
head(D11,2)

  index                 batch donor_id         sample_id       cluster_id
1 CTCGTACCACAGACAG-1-4   4    HPSI0414i-sebn_3 5245STDY7386987 1
2 CTGTGCTGTTCGCGAC-1-23 23    HPSI1013i-hiaf_1 5245STDY7632694 2
  time_point pool_id treatment n_counts_all celltype
1 D11        pool3   NONE      15316        P_FPP
2 D11        pool6   NONE      20732        P_FPP

In [24]:
D11$batch <- c()

In [17]:
# D11$cluster_id = D11$cluster_id_new
# D11$cluster_id_new <- c()
# head(D11,2)

In [6]:
write.table(D11,D11_file, sep = "\t")

In [ ]:
#### Day 30

In [22]:
D30_file = "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/scanpy/neuroseq_metadata_D30.txt"

In [23]:
D30 = read.csv(D30_file, sep ="\t")
head(D30,2)

  index                 batch donor_id         sample_id       cluster_id
1 TCTGGAAAGCCATCGC-1-1   1    HPSI0715i-meue_5 5245STDY7423246 2
2 ATGCGATCAGACAAAT-1-30 30    HPSI0413i-peop_4 5245STDY7844033 3
  time_point pool_id treatment n_counts_all celltype
1 D30        pool2   NONE       4168        Sert
2 D30        pool10  NONE      16870        Epen1

In [25]:
D30$batch <- c()

In [20]:
D30$cluster_id = D30$cluster_id_new
D30$cluster_id_new <- c()
head(D30,2)

D30$celltype = D30$celltype_new
D30$celltype_new <- c()
head(D30,2)

  index                 batch donor_id         sample_id       cluster_id
1 TCTGGAAAGCCATCGC-1-1   1    HPSI0715i-meue_5 5245STDY7423246 2
2 ATGCGATCAGACAAAT-1-30 30    HPSI0413i-peop_4 5245STDY7844033 3
  time_point pool_id treatment n_counts_all celltype celltype_new
1 D30        pool2   NONE       4168        Sert     Sert
2 D30        pool10  NONE      16870        Epen1    Epen1

  index                 batch donor_id         sample_id       cluster_id
1 TCTGGAAAGCCATCGC-1-1   1    HPSI0715i-meue_5 5245STDY7423246 2
2 ATGCGATCAGACAAAT-1-30 30    HPSI0413i-peop_4 5245STDY7844033 3
  time_point pool_id treatment n_counts_all celltype
1 D30        pool2   NONE       4168        Sert
2 D30        pool10  NONE      16870        Epen1

In [21]:
write.table(D30,D30_file, sep = "\t")

In [ ]:
#### Day 52

In [30]:
D52_file = "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/scanpy/neuroseq_metadata_D52.txt"

In [31]:
D52 = read.csv(D52_file, sep ="\t")
head(D52,2)

  index                 batch donor_id         log1p_n_genes_by_counts
1 TCCACACAGGACAGAA-1-23 23    HPSI0114i-eipl_1 7.650169
2 TAAGAGAGTGGCGAAT-1-6   6    HPSI0115i-jakt_1 7.813592
  log1p_total_counts log1p_total_counts_mito n_genes_by_counts
1 8.834774           3.637586                2100
2 8.701845           5.786897                2473
  pct_counts_in_top_100_genes pct_counts_in_top_200_genes
1 46.70938                    58.09552
2 39.66406                    48.36188
  pct_counts_in_top_500_genes ... total_counts total_counts_mito cluster_id
1 72.58299                    ... 6868          37               4
2 62.33161                    ... 6013         325               7
  time_point pool_id treatment n_counts_all celltype celltype_new
1 D52        pool1   ROT       6868         FPP      FPP
2 D52        pool2   NONE      6013         Sert     Sert
  cluster_id_new
1 4
2 7

In [32]:
D52$batch <- c()

In [33]:
D52$cluster_id = D52$cluster_id_new
D52$cluster_id_new <- c()
head(D52,2)

D52$celltype = D52$celltype_new
D52$celltype_new <- c()
head(D52,2)

  index                 donor_id         log1p_n_genes_by_counts
1 TCCACACAGGACAGAA-1-23 HPSI0114i-eipl_1 7.650169
2 TAAGAGAGTGGCGAAT-1-6  HPSI0115i-jakt_1 7.813592
  log1p_total_counts log1p_total_counts_mito n_genes_by_counts
1 8.834774           3.637586                2100
2 8.701845           5.786897                2473
  pct_counts_in_top_100_genes pct_counts_in_top_200_genes
1 46.70938                    58.09552
2 39.66406                    48.36188
  pct_counts_in_top_500_genes pct_counts_in_top_50_genes ... sample_id
1 72.58299                    35.20676                   ... 5245STDY7631338
2 62.33161                    32.34658                   ... 5245STDY7458662
  total_counts total_counts_mito cluster_id time_point pool_id treatment
1 6868          37               4          D52        pool1   ROT
2 6013         325               7          D52        pool2   NONE
  n_counts_all celltype celltype_new
1 6868         FPP      FPP
2 6013         Sert     Sert

  index                 donor_id         log1p_n_genes_by_counts
1 TCCACACAGGACAGAA-1-23 HPSI0114i-eipl_1 7.650169
2 TAAGAGAGTGGCGAAT-1-6  HPSI0115i-jakt_1 7.813592
  log1p_total_counts log1p_total_counts_mito n_genes_by_counts
1 8.834774           3.637586                2100
2 8.701845           5.786897                2473
  pct_counts_in_top_100_genes pct_counts_in_top_200_genes
1 46.70938                    58.09552
2 39.66406                    48.36188
  pct_counts_in_top_500_genes pct_counts_in_top_50_genes pct_counts_mito
1 72.58299                    35.20676                   0.5387303
2 62.33161                    32.34658                   5.4049560
  sample_id       total_counts total_counts_mito cluster_id time_point pool_id
1 5245STDY7631338 6868          37               4          D52        pool1
2 5245STDY7458662 6013         325               7          D52        pool2
  treatment n_counts_all celltype
1 ROT       6868         FPP
2 NONE      6013         Sert

In [35]:
D52 = D52[,colnames(D52) %in% colnames(D30)]
head(D52,2)

  index                 donor_id         sample_id       cluster_id time_point
1 TCCACACAGGACAGAA-1-23 HPSI0114i-eipl_1 5245STDY7631338 4          D52
2 TAAGAGAGTGGCGAAT-1-6  HPSI0115i-jakt_1 5245STDY7458662 7          D52
  pool_id treatment n_counts_all celltype
1 pool1   ROT       6868         FPP
2 pool2   NONE      6013         Sert

In [36]:
df = rbind(D11, D30,D52)
nrow(df)
head(df,2)

[1] 1027398

  index                 donor_id         sample_id       cluster_id time_point
1 CTCGTACCACAGACAG-1-4  HPSI0414i-sebn_3 5245STDY7386987 1          D11
2 CTGTGCTGTTCGCGAC-1-23 HPSI1013i-hiaf_1 5245STDY7632694 2          D11
  pool_id treatment n_counts_all celltype
1 pool3   NONE      15316        P_FPP
2 pool6   NONE      20732        P_FPP

In [37]:
df$cluster_id <- c()
df$n_counts_all <- c()
head(df,2)

  index                 donor_id         sample_id       time_point pool_id
1 CTCGTACCACAGACAG-1-4  HPSI0414i-sebn_3 5245STDY7386987 D11        pool3
2 CTGTGCTGTTCGCGAC-1-23 HPSI1013i-hiaf_1 5245STDY7632694 D11        pool6
  treatment celltype
1 NONE      P_FPP
2 NONE      P_FPP

In [38]:
all_file = "/hps/nobackup/stegle/users/acuomo/all_scripts/sc_neuroseq/scanpy/neuroseq_metadata_allcells.txt"

In [41]:
write.table(df,all_file, sep = "\t", quote = F, row.names = F)